@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.aboutPage{
    height: 100vh;
    width: 100vw;

}

#aboutPage{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#aboutTopDecoration{
    background-color: rgb(134, 193, 212);
    width: 100vw;
    margin-top: 0;
    margin-bottom: 10;
    top: 0;
    height: 12vh;
    overflow: visible;
    z-index: -5;
}
#aboutSkewedDov{
    background-color: white;
    width: 100vw;
    height: 5.3vw;
    border: black solid;
    margin-bottom: 1vh;
    overflow: visible;
    position: absolute;
    transform: skew(20deg, 10.2deg);
    z-index: 199;
}
#aboutHeader{
    background-color: white;
    border: solid black 2px;
    text-align: center;
    width: 100vw;
    height: 10vh;
    z-index: 205;
    color: rgb(134, 193, 212);
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    text-decoration: underline orange;
}

#aboutParagraph{
    width: 100vw;
    height: 30vh;
    background-color: white;
    text-align: center;
    color: rgb(249, 140, 31);
    z-index: 205;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    top: 22.5vh;
}