.aboutPage{
    height: 100vh;
    width: 100vw;

}

#aboutPage{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#aboutTopDecoration{
    background-color: rgb(134, 193, 212);
    width: 100vw;
    margin-top: 0;
    margin-bottom: 10;
    top: 0;
    height: 12vh;
    overflow: visible;
    z-index: -5;
}
#aboutSkewedDov{
    background-color: white;
    width: 100vw;
    height: 5.3vw;
    border: black solid;
    margin-bottom: 1vh;
    overflow: visible;
    position: absolute;
    transform: skew(20deg, 10.2deg);
    z-index: 199;
}