@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.aboutPage{
    height: 100vh;
    width: 100vw;

}

#aboutPage{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#aboutTopDecoration{
    background-color: rgb(134, 193, 212);
    width: 100vw;
    margin-top: 0;
    margin-bottom: 10;
    top: 0;
    height: 12vh;
    overflow: visible;
    z-index: -5;
}
#aboutSkewedDov{
    background-color: white;
    width: 100vw;
    height: 5.3vw;
    border: black solid;
    margin-bottom: 1vh;
    overflow: visible;
    position: absolute;
    transform: skew(20deg, 10.2deg);
    z-index: 199;
}
#aboutHeader{
    background-color: white;
    border: solid black 2px;
    top: 10vh;
    text-align: center;
    width: 100vw;
    height: 10vh;
    z-index: 205;
    color: rgb(134, 193, 212);
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    text-decoration: underline orange;
}

#aboutParagraph{
    width: 100vw;
    height: 15vh;
    background-color: white;
    text-align: center;
    color: rgb(249, 140, 31);
    z-index: 205;
    border-bottom: solid black;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    top: 20vh;
}

#skillsSection{
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    height: 40vh;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 90px;
    color: rgb(249, 140, 31);
    top: 35vh;
    z-index: 205;
    background-color: rgb(134, 193, 212);
}

#skillsTitle{
    width: 30vw;
    height: 35vh;
    position: absolute;
    z-index: 205;
    top: 4vh;
    left: 2vw;
}

.skillsColumnOne{
    width: 65vw;
    display: flex;
    flex-wrap: nowrap;
    height: 16vh;
    position: absolute;
    z-index: 205;
    top: 2vh;
    left: 33vw;
}

.skillsColumnTwo{
    width: 65vw;
    display: flex;
    flex-direction: row;
    height: 16vh;
    position: absolute;
    z-index: 205;
    top: 20vh;
    left: 33vw;

}

#htmlIcon{
    background-image: url('../html-5.png');
    background-position: center;
    background-size: contain;
    height: 90px;
    width: 100px;
    margin-top: 5px;
}

#cssIcon{
    background-image: url('../transparentCss.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    width: 80px;
    margin-top: 5px;
}

#javascriptIcon{
    background-image: url('../logo-javascript-logo-png-transparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 60px;
    margin-top: 1px;
}

#reactIcon{
    background-image: url('../transparentReactLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 5px;
}

#nodeIcon{
    background-image: url('../nodejs-1-logo-png-transparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 5px;
}

#expressIcon{
    background-image: url('../express.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 5px;
}

#sqliteIcon{
    background-image: url('../sqlite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 5px;  
}

#postgresIcon{
    background-image: url('../postgres.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 5px;
}

#sassIcon{
    background-image: url('../sass.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 135px;
    margin-left: 480px;
}

#bootstrapIcon{
    background-image: url('../bootstrap.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 135px;
}

#jqueryIcon{
    background-image: url('../jquery.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 135px;
}

#wordpressIcon{
    background-image: url('../wordpress.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 135px;
}

#gitIcon{
    background-image: url('../git.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 135px;
}

#reduxIcon{
    background-image: url('../redux.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 135px;
}

#typescriptIcon{
    background-image: url('../typescript.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 135px;
}

#reactNativeIcon{
    background-image: url('../reactNative.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 80px;
    margin-top: 135px;
}