@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


#entireCardBody{
position: relative;
width: 20vw;
height: 40vh;
border: solid 2px black;
}

#cardTitle{
    text-align: center;
    position: relative;

}

#cardTop{
    text-align: center;
    position: relative;
    margin-top: 2vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 20vh;
    width: 20vw;
    border: solid 2px black;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    font-weight: bolder;
}