#entireCardBody{
width: 30vw;
height: 40vh;
border: solid 2px black;
}

#cardTitle{
    text-align: center;
}

#cardTop{
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 20vh;
    width: 30vw;
    border: solid 2px black;

}