@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;700&family=Zen+Dots&display=swap');

#fullLambPage{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#leftOrangeSide{
    display:inline-flex;
    color: rgb(249, 140, 31);
    width: 50vw;
    height: 100vh;
}