@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;700&family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#fullLambPage{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#leftOrangeSide{
    display:inline-flex;
    background-color: rgb(249, 140, 31);
    width: 54.4vw;
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

#lambDescription{
    position: absolute;
    margin-top: 10vh;
    margin-left: 4vw;
    font-size: 35px;
    text-align: center;
}

#topSkewedDiv{
    height: 9.5vh;
    width: 22vw;
    margin-left: 9.5vw;
    background-color: #062f55;
    transform: skew(66deg, 4deg) rotate(20deg, 40deg);
    margin-bottom: 20px;
}

#rightPicSide{
    display:inline-flex;
    background-image: url('../Mount-Everest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
}