.cardOutline {
    color: #fff;
    background-color: black;
    font-family: Arial, sans-serif;
    height: 45vh;
    border-radius: 22px;
    width: 80vw;
    border: solid 2px red;
    margin: 0 auto;
    margin-bottom: 2vh;
    overflow: hidden;
  }

  .projectTechnologiesOutline{
    margin: 0 auto;
    width: 10em;
    height: 30%;
    border: solid 2px green;
  }



  .cardImg{
    margin: 0 auto;
    width: 95%;
    height: 50%;
    border: solid 2px gold;
  }
  
  
  
  .cardFooter{
    margin: 0 auto;
    width: 95%;
    height: 40%;
  }
  

  