#{
  margin: none;
}

.App {
  height: 200vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  display: inline-flex;
  flex-direction: row;
  background-color: chartreuse;
  width: 100vw;
  height: 10vh;
  position: fixed;
}

.logo{
  margin-left: 10vw;
}

.navOptions{
  display: inline-flex;
  flex-direction: row;
  margin-left: 40vw;

}

.home{
}

.portfolio{
  margin-left: 3vw;
}

.lamb{
  margin-left: 3vw;

}

.causes{
  margin-left: 3vw;

}

.about{
  margin-left: 3vw;

}

.journal{
  margin-left: 3vw;

}