@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#{
  margin: 0 auto;
}

.App {
  height: 200vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  display: inline-flex;
  flex-direction: row;
  background-color: navy;
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 10;
}

.logo{
  margin-left: 10vw;
  margin-top: 2vh;
  background-image: url("./charleslamb3264.png");
  background-size: cover;
  background-position: 100%;
  height: 62px;
  width: 260px;
}

.navOptions{
  display: inline-flex;
  flex-direction: row;
  margin-left: 18vw;
  margin-top: 3vh;

}

.home{
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  font-weight: bolder;
}

.portfolio{
  margin-left: 3vw;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  font-weight: bolder;

}

.lamb{
  margin-left: 3vw;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  font-weight: bolder;

}

.causes{
  margin-left: 3vw;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  font-weight: bolder;

}

.about{
  margin-left: 3vw;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  font-weight: bolder;

}

.journal{
  margin-left: 3vw;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  font-weight: bolder;

}